/* Custom CSS Reset
based on Josh Comeau's CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/
and Andy Bell's Modern CSS Reset: https://piccalil.li/blog/a-more-modern-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* -webkit... only for Safari and MacOS with retina display */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* makes sure to use same font-family, font-size and font-weight for all elements */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --clr-1: #d3f1df;
  --clr-2: #85a98f;
  --clr-3: #5a6c57;
  --clr-4: #525b44;
  --clr-5: #262626;
}
.checked {
  color: orange;
}

.separator {
  background-color: var(--clr-3);
  height: 2rem;
  width: 2px;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.back_button {
  font-size: 5rem;
  padding: 0.5rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  background: -webkit-linear-gradient(
    135deg,
    var(--clr-2),
    var(--clr-1),
    var(--clr-3)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0;
}

.title {
  font-size: 8rem;
  background: -webkit-linear-gradient(
    135deg,
    var(--clr-1),
    var(--clr-2),
    var(--clr-4),
    var(--clr-1),
    var(--clr-3),
    var(--clr-1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtext {
  color: var(--clr-2);
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-block-start: -2.5rem;
  margin-block-end: 4rem;
}

.sort,
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 25rem;
  input {
    margin: 0;
  }
}

main {
  padding-block: 3rem;
}

.container {
  background-color: white;
  padding: 2rem;
  margin: auto;
  max-width: 30rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.369);
}

.books {
  display: grid;
  grid-template-rows: repeat(auto-fit);
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  gap: 2rem;
}

.book {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.731);
  height: 572px;

  .image-container {
    width: 100%;
    height: 24rem;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    .delete_book {
      display: grid;
      -ms-grid-row-align: center;
      width: 2rem;
      height: 2rem;
    }

    h2 {
      color: var(--clr-5);
    }
    .delete_book:hover {
      background-color: red;
      color: white !important;
    }
    .tooltip {
      position: relative;
      display: inline-block;
    }
    .tooltip .tooltip_text {
      visibility: hidden;
      width: 120px;
      background-color: red;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 150%;
      left: 50%;
      margin-left: -60px;
    }

    .tooltip .tooltip_text::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: red transparent transparent transparent;
    }

    .tooltip:hover .tooltip_text {
      visibility: visible;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    height: 188px;
  }

  .rating {
    font-size: 1.5rem;
    text-align: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: var(--clr-4);
}

input,
select {
  border: 2px solid grey;
  border-radius: 0.2rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  margin-block-end: 1.2rem;
  color: var(--clr-4);
}

input[type="submit"],
button,
.sort > select {
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  background-color: var(--clr-2);
  color: white;
  font-weight: 900;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
}

input[type="submit"]:hover,
button:hover,
.sort > select:hover {
  background-color: var(--clr-1);
  color: var(--clr-4);
}
.sort > input,
.sort > select {
  margin: 0;
}

.noise3 {
  background: #024916;
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.background-overlay {
  background: linear-gradient(180deg, #03160bae, #151a17 75%);
  min-height: 100vh;
}

.flash-container {
  margin-inline: auto;
  background-color: rgba(255, 0, 0, 0.638);
  width: fit-content;
  padding: 1rem 2rem;
  margin-block: 2rem;
  border-radius: 0.5 rem;
  border: 1px solid red;

  .flash {
    font-weight: bold;
    color: white;
  }
}
